<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billprogram">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".BaseActivity"/>
        <activity android:name=".MainActivity_Login"
            android:launchMode="singleTask"><!-- 单任务模式-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ConsumptionActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".noteConsumptionActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ClassifyActivity"
         />
        <activity android:name=".ReportTableActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".SetActivity"
            android:launchMode="singleTop"/>

    </application>


</manifest>